*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-color: #80deea;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1, h2
{
	padding: 1em 0;
}

main
{
	width: 80%;
	margin: auto;
}

li
{
	font-size: 20px;
	text-align: justify;
	padding: 0.2em 0;
}

a:hover
{
	color: #ff5722;
}

/* =================================== MEDIA QUERY ======================================== */

@media screen and (max-width: 400px)
{
	li
	{
		font-size: 18px;
	}
}

/* =========================================== GITHUB CORNER STYLES ==================================== */

.github-corner:hover .octo-arm
{
	animation: octocat-wave 560ms ease-in-out;
}

@media (max-width:500px)
{
	.github-corner:hover .octo-arm
	{
		animation: none;
	}

	.github-corner .octo-arm
	{
		animation: octocat-wave 560ms ease-in-out;
	}
}

@keyframes octocat-wave
{
	0%, 100%
	{
		transform: rotate(0);
	}

	20%, 60%
	{
		transform: rotate(-25deg);
	}

	40%, 80%
	{
		transform: rotate(10deg);
	}
}
